<body oncontextmenu="return false;">
    <div class="container-fluid" id="main-container">
        <div id="live-search" class="row">
            <input type="text" id="live-search-name" placeholder="Summoner Name"></input>
            <button id="live-button" class="btn btn-default has-spinner" onClick="livesearch()">Live Search!<span class="spinner"><i class="icon-spin icon-refresh"></i></span></button>
        </div>
        <div id="banner" class="row">
            <%= image_tag "LoLIcons/Clairvoyance.png" %>
            <p>Clairvoyance</p>
        </div>
        <div class="row" id="main-row">
            <div class="col-xs-2" id="blue-side">
                <% for i in Range.new(1,5) %>
                    <%= tag("div", id: "blue"+i.to_s, class: "row well selection") %>
                    </div>
                <% end %>
                <div class="row well" id="bluecompat"></div>
                <div class="row" id="curvedarrow"></div>
                <p style="color:blue;" id="left">Left click to add!</p>
            </div>
            <div class="col-xs-8 well" style="height:100%">
                <div id="scroll-select">
                    <% @champs.each do |champ| %>
                        <%= tag("div", {id: champ.name, class:"col-xs-2 champion-select", title: champ.name, datatype: champ.types}) %>
                            <%= image_tag "LoLIcons/"+champ.image, class: "champ-icon", id: "champ-pic"+champ.id %>
                        </div>
                    <% end %>
                </div>
                <div class="btn-group dropup">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Filter By...
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a class="filter" id="tank">Tank</a></li>
                        <li><a class="filter" id="fighter">Fighter</a></li>
                        <li><a class="filter" id="marksman">Marksman</a></li>
                        <li><a class="filter" id="mage">Mage</a></li>
                        <li><a class="filter" id="support">Support</a></li>
                        <li><a class="filter" id="assassin">Assassin</a></li>
                        <li><a class="filter" id="all">All</a></li>
                    </ul>
                </div>
                <input type="text" id="searchbar" oninput=runsearch()>                
            </div>
            <div class="col-xs-2" id="purple-side">
                <% for i in Range.new(1,5) %>
                    <%= tag("div", id: "purple"+i.to_s, class: "row well selection") %>
                    </div>
                <% end %>            
                <div class="row well" id="purplecompat"></div>
                <div class="row" id="curvedarrow2"></div>
                <p style="color:purple;" id="right">Right click to add!</p>     
            </div>
        </div>
    </div>
    <div class="row" id="footer">
        <p>This product is not endorsed, certified or otherwise approved in any way by Riot Games, Inc. or any of its affiliates.</p>
        <%= link_to "About Clairvoyance", { controller: "main", action: "about" },  class: "btn btn-primary" %>
    </div>
</body>
